﻿.topCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white
}

.midCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.blackBody {
    background-color: #1a1a1a;
    color: white;
}

table, th, td {
    border: 1px solid;
    font-size: 17px;
}

.linkStyle {
    color: blue;
    font-size: 20px
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 100px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}