﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="topnav">
            <h1 class="topCenter">TraceStok</h1>
            <div class="topCenter">
                <a asp-controller="Products" asp-action="Products" class="linkStyle">All Products</a>
                <a asp-controller="Products" asp-action="AddProduct" class="linkStyle">Add Product</a>
                <a asp-controller="Users" asp-action="LoginPage" class="linkStyle">Login</a>
                <a asp-controller="Users" asp-action="Register" class="linkStyle">Register</a>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
