﻿@model UserLoginReq

@{
    ViewBag.Title = "TraceStok Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>function alert() { alert("Under Construct!") }</script>

<body class="blackBody">
    <dialog open>
        <p>Under Construct</p>
        <form method="dialog">
            <button>OK</button>
        </form>
    </dialog>
    <div class="midCenter">
        <h1>Welcome, please login.</h1>
        <script>function alert() { alert("Under Construct!") }</script>
        <form asp-controller="Users" asp-action="login" method="post">
            <label asp-for="Email">E-mail:</label>
            <input asp-for="Email" type="email"/>
            <br/>
            <br/>
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" type="password"/>
            <br/>
            <br/>
            <button style="align-items:flex-end">Login</button>
        </form>
        <p style="color: #FFFFFF">If you lost your crenditials please contact to manager.</p>
    </div>
</body>