﻿@model UserAddReq

@{
    ViewBag.Title = "TraceStok Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="blackBody">
    <div class="midCenter">
        <h1 style="color: white">Register User</h1>
        <form asp-controller="Users" asp-action="Create" method="post">
            <label asp-for="Email">E-mail:</label>
            <input asp-for="Email" type="email"/>
            <br/>
            <br/>
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" type="password"/>
            <br />
            <br />
            <label asp-for="PhoneNumber">Phone Number:</label>
            <input asp-for="PhoneNumber" type="number"/>
            <br />
            <br />
            <label asp-for="IsAdmin">Admin?:</label>
            <input asp-for="IsAdmin" type="checkbox"/>
            <br/>
            <br/>
            <button>Register User</button>
        </form>
    </div>
</body>