﻿@model ProductAddReq

@{
    ViewBag.Title = "TraceStok Product Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="blackBody">
    <div class="midCenter">
        <h1>Add Product</h1>
        <form asp-controller="Products" asp-action="AddProduct" method="post">
            <label asp-for="ProductName">Product Name:</label>
            <input asp-for="ProductName" />
            <br />
            <br />
            <label asp-for="ProductPrice">Product Price:</label>
            <input asp-for="ProductPrice" />
            <br />
            <br />
            <label asp-for="ProductQuantity">Quantity:</label>
            <input asp-for="ProductQuantity" />
            <br />
            <br />
            <button>Add Product</button>
        </form>
    </div>
</body>