﻿@model ProductResponse

@{
    ViewBag.Title = "TraceStok Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="blackBody">
    <form asp-controller="Products" asp-action="Delete" method="post">
        <input type="hidden" asp-for="ProductID" />
        <h3>Are you sure? Delete @Model.ProductName?</h3>
        <button>Delete Product</button>
    </form>
</body>