﻿@model IEnumerable<ProductResponse>
@using HtmlAgilityPack;

@{
    ViewBag.Title = "TraceStok Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="blackBody">
    <h1 class="topCenter">Products</h1>
    <br />
    <br />
    <form asp-controller="Products" asp-action="Search">
        <p>
            Product Name: <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <br />
    <br />
    <table id="table">
        <thead>
            <tr>
                <th style="font-size: 20px">Product ID </th>
                <th style="font-size: 20px">Product Name </th>
                <th style="font-size: 20px">Price </th>
                <th style="font-size: 20px">Quantity </th>
                <th style="font-size: 20px">Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductResponse product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductPrice</td>
                    <td>@product.ProductQuantity</td>
                    <td>
                        <a asp-controller="Products" asp-action="Update" asp-route-ProductID="@product.ProductID" style="color: blue">Update</a> |
                        <a asp-controller="Products" asp-action="Delete" asp-route-ProductID="@product.ProductID" style="color: blue">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>